{% extends 'base.html' %}
{% load static %}

{% block title_block %}Home{% endblock  %}
{% block css_block %}<link rel="stylesheet" href="{% static 'mentapp/home.css' %}">{% endblock  %}
{% block body_block %}

<h2>
    MentHeal is an open platform not for the people who are mentally sick but for everyone who is willing to protect their mental health!
    If you feel need for some mental therapy, here's where you should come! Because we are trying to provide you a complete area to share your Mental issues or even if there is no issue, You can come here to soothe your mind!
</h2>
<section id="selftherapy">

    <h2>What is this website?</h2>

    <ul>
    <li><a href=""> <img src="{% static 'mentapp/selfcare.avif' %}"></a></li>
    <li><a href=""> <img src="{% static 'mentapp/post.png' %}"></a></li>
    
    <ul>
</section>

<section id= about>
    <h2>Are you Mad?</h2>
    <p>
       In this world of highly challenged lifestyle and many other distractions it is quiet common for any person to mentally get tired of life or work or socialising.
    </p>
    <p>
      Mentheal is providing a open source platform to seek help and avail. You can also update posts to help people. You can share your experiences and help people. You can ask questions. so basically this is social media platform providing help basically for mental well being!!
    </p>
    
 </section>
{% endblock  %}

